In [154]:
# import all directories
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB

In [155]:
df=pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [156]:
df.Purchased.unique()

array([0, 1], dtype=int64)

In [157]:
df.info()# Check missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [158]:
# find missing values
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [159]:
df.shape

(400, 5)

In [160]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [161]:
# seprate predictors and target
x=df.iloc[:,[2,3]]
y=df.iloc[:,-1]

In [162]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [163]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [164]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2)# random data will place into test and train

In [165]:
X_train.shape

(320, 2)

In [166]:
X_test.shape

(80, 2)

In [167]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=8,p=1)#p=1 for minhantance distence and p=2 to for eucledian distance by defalut minhantance distence
model.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=8, p=1)

In [168]:
y_predict=model.predict(X_test)

In [169]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [170]:
accuracy_score(Y_test,y_predict)

0.825

In [171]:
confusion_matrix(Y_test,y_predict)

array([[47,  1],
       [13, 19]], dtype=int64)